.ExpProCarousel .slide {
  opacity: 0.5;
  scale: 0.7;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.ExpProCarousel .slide.selected {
  opacity: 1;
  scale: 1;
}

@media screen and (max-width: 768px) {
  .ExpProCarousel .control-arrow {
    display: none;
  }
}
